<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="MyConn" connectionString="Data Source=ILDOT502\SQLEXPRESS;Initial Catalog=MyWebsiteDB;User ID=sa;Password=idealake@2016" providerName="System.Data.SqlClient" />-->

    <add name="MyConn" connectionString="Data Source=Akshay-pc\SQLEXPRESS;Initial Catalog=compileditsolutions;integrated security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <machineKey validationKey="2B53D41C080E6D7151146285D337D2F8008544D0D840CDD54A865255CD4DD5F5D8D08F6528C95913BA7AF200586985FA0E6CFE5437EEA0CC6C6C29B8E7C14E45" decryptionKey="32555827CFD4ADA6C56CAEC378029848484B12E0D0AF420E25F5E8F778B3C0DB" validation="SHA1" decryption="AES"/>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MyConn" enablePasswordRetrieval="true" passwordFormat="Encrypted" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="MyWebsite"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="MyConn" applicationName="MyWebsite"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="MyConn" applicationName="MyWebsite"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="MyWebsite"/>
      </providers>
    </roleManager>
  </system.web>

  <appSettings>
    <add key="imgWidth" value="1500" />
    <add key="imgHeight" value="1500" />
    <add key="imgSize" value="512000" />
    <add key="EmailUsername" value="akshay00715@gmail.com" />
    <add key="EmailPassword" value="sangeeta" />
    <add key="smtpPort" value="587" />
    <add key="locationAPI" value="http://geoip.nekudo.com/api" />
    <add key="Domain" value="www.compileditsolutions.com" />
  </appSettings>
</configuration>
